# dependencies
node_modules

# package-lock.json
package-lock.json

# logs
npm-debug.log
firebase-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# env
.env

# .vscode
.vscode/

# css
static/css

# firebase
.firebaserc